@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Poppins:wght@300;700&display=swap');


.h1 {
  margin: 0;
  color: white;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  font-family: 'Open Sans';
}

.p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-align: center;
  font-family: 'Poppins';
}

.text-center{
  text-align: center;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;
  color: white;
  font-family: 'Open Sans';
  background-color: rgb(240, 240, 240);
  margin: 150px;
}

.btn-home {
  color: black;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(white, white);
  transition: background 0.3s ease;
  border: 1px solid black;
  text-decoration: none;
}

.btn-home:hover {
  background: linear-gradient(#E850EB, #E850EB);
  color: black;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;
  color: white;
  font-family: 'Open Sans';
  background-color: rgb(240, 240, 240);
  margin: 150px;
}

.btn-landing {
  color: black;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(white, white);
  transition: background 0.3s ease;
  border: 1px solid black;
  text-decoration: none;
}

.btn-landing:hover {
  background: linear-gradient(#E850EB, #E850EB);
  color: black;
}

.container {
  padding: 150px 0;
  margin: 150px;
  box-shadow: 0 5px 15px rgb(0, 0, 0, 0.1);
}

.login-form {
  display: table;
  text-align: center;
  display: table-row;
  width: 500px;
  margin: 10px auto;
}

.list-inline {
  list-style: none;
  text-align: center;
  padding: 50px 0;
  margin: 50px
}

.label,
input {
  display: table-cell;
  margin: 10px auto;
  padding: 5px;
}

.label {
  padding: 10px;
  margin: 24px auto;
}

input:invalid {
  border: 2px red;
}

input:valid {
  border: 2px black;
}

.container .manage {
  list-style: none;

}
